<footer>
  <div class="container">
<!--    <div class="footer-col">
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %Y'}}</abbr>
    </div> -->
    <div class="footer-col">
    </div>
    <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/fisherdanyel">@fisherdanyel</a> on Twitter.</div>
    <a href="https://orcid.org/0000-0002-9019-5889" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0002-9019-5889</a>
  </div>
</footer>
